{% extends 'base.html.twig' %}

{% block title %}Explorer les sorties{% endblock %}

{% block body %}
    <script src="{{ asset('js/filterTable.js')}}"></script>
    
    <h1>Explorer les sorties</h1>
    <form action="{{ path('sortie_index') }}" method="get">
        <div class="row">
            <div class="col-md-6">
                <br>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" for="inputGroupSelect01">Site</span>
                    </div>
                    <select class="custom-select" id="searchSite" name="site" aria-label="Cherchez sur un site" id="inputGroupSelect01">
                        {% for site in sites %}
                            <option value="{{site.id}}" {{ app.user and app.user.site.id == site.id ? "selected" : "" }}>{{ site.nom }}</option>
                        {% else %}
                            <option>Pas de site</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <input placeholder="Rechercher..." type="text" class="form-control" value="{{ app.request.get('search') }}" name="search" id="searchInput"  aria-label="Cherchez une sortie" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class='row'>
                    <div class='col-md-6'>
                        <span>De :</span>
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7" name="dateDebut" value="{{ app.request.get('dateDebut') }}"/>
                                <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <span>à</span>
                        <div class="form-group">
                            <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8" name="dateFin" value="{{ app.request.get('dateFin') }}"/>
                                <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <label for="orga">Sorties dont je suis l'organisateur</label>
                <input {{ app.request.get('orga') ? 'checked' : '' }} id="orga" type="checkbox" name="orga" />
                <br>
                <label for="inscrit">Sorties auxquelles je suis inscrit</label>
                <input {{ app.request.get('inscrit') ? 'checked' : '' }} id="inscrit" type="checkbox" name="inscrit" onclick=uncheck("pasinscrit") />
                <br>
                <label for="pasinscrit">Sorties auxquelles je ne suis pas inscrit</label>
                <input {{ app.request.get('pasinscrit') ? 'checked' : '' }} id="pasinscrit" type="checkbox" name="pasinscrit" onclick=uncheck("inscrit") />
                <br>
                <label for="passee">Sorties passées</label>
                <input {{ app.request.get('passee') ? 'checked' : '' }} id="passee" type="checkbox" name="passee" />
            </div>
        </div>
        <button type="submit" class="btn btn-success">Rechercher</button>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datetimepicker7').datetimepicker({
                locale: 'fr',
                format: 'L'
            });
            $('#datetimepicker8').datetimepicker({
                locale: 'fr',
                format: 'L'
            });
        });
        document.getElementById('inscrit').onclick = function() {
            // access properties using this keyword
            if ( this.checked ) {
                // Returns true if checked
                document.getElementById('pasinscrit').checked = false;
            }
        };
        document.getElementById('pasinscrit').onclick = function() {
            // access properties using this keyword
            if ( this.checked ) {
                // Returns true if checked
                document.getElementById('inscrit').checked = false;
            }
        };
    </script>
    <br>
    <div class="container mb-5">
    <table class="table table-responsive-sm" id="sortieTable" name="sortieTable" >
        <thead>
            <tr>
                <th>Quoi ?</th>
                <th>Quand ?</th>
                <th>Durée</th>
                <th>Places</th>
                <th>Etat</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom|capitalize }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                <td>{{ sortie.duree }} min.</td>
                <td>{{ sortie.inscrits|length}}/{{ sortie.nbInscriptionsMax ?? '&infin;' }}</td>
                <td>
                    {% if sortie.etat.id == 1 %}
                        <span class="badge badge-info">{{ sortie.etat }}</span>
                    {% elseif sortie.etat.id == 2 %}
                        <span class="badge badge-success">{{ sortie.etat }}</span>
                    {% elseif sortie.etat.id == 3 or sortie.etat.id == 4 %}
                        <span class="badge badge-warning">{{ sortie.etat }}</span>
                    {% elseif sortie.etat.id == 5 or sortie.etat.id == 6 %}
                        <span class="badge badge-danger">{{ sortie.etat }}</span>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-primary shadow-sm" href="{{ path('sortie_show', {'id': sortie.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune sortie trouvée !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <div  class="mb-5 mt-2" >
            <a class="btn btn-success shadow-sm mb-5" href="{{ path('sortie_new') }}">Créer une sortie</a>
        </div>

    </div>
{% endblock %}
