{% extends 'base.html.twig' %}

{% block title %}Sortons !!{% endblock %}

{% block body %}
    <script src="{{ asset('js/filterTable.js')}}"></script>
    
    <h1>Sortons !!</h1>
    <br>
    <h3>Filtrez les sorties :</h3>
    <br>
    <div class="row">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" for="inputGroupSelect01">Site :</span>
                    </div>
                    <select class="custom-select" id="searchSite" aria-label="Cherchez sur un site" id="inputGroupSelect01">
                        <option selected>{{ participant.site }}</option>
                    {% for site in sites %}
                            <option selected>{{ site.nom }}</option>
                    {% else %}
                        <option option>Pas de site</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Sortie :</span>
                    </div>
                        <input type="text" class="form-control" name="searchInput" id="searchInput" onkeyup="searchinTable()" aria-label="Cherchez une sortie" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class='row'>
                    <div class='col'>
                        <span>De :</span>
                        <div class="form-group">
                        <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7"/>
                                <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='col'>
                        <span>à</span>
                        <div class="form-group">
                        <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8"/>
                                <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <table class="table" id="sortieTable" name="sortieTable" >
        <thead>
            <tr>
                <th>Quoi ?</th>
                <th>Quand ?</th>
                <th>Durée</th>
                <th>Places</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                <td>{{ sortie.duree }} min.</td>
                <td>{{ sortie.inscrits|length}}/{{ sortie.nbInscriptionsMax ?? '&infin;' }}</td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" href="{{ path('sortie_show', {'id': sortie.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune sortie trouvée !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{{ path('sortie_new') }}">Créer une sortie</a>
    </div>
{% endblock %}
