{% extends 'base.html.twig' %}

{% block title %}{{ sortie.nom }}{% endblock %}

{% block body %}
    <div class="float-right">
        {% if app.user %}
            {% if sortie.etat.id == 2 and app.user not in sortie.getInscrits() %}
                <a class="btn btn-success" href="{{ path('sortie_join', {'id': sortie.id}) }}"><i class="fas fa-check"></i> Je m'inscris !</a>
            {% endif %}
            {% if app.user in sortie.getInscrits() %}
                <a class="btn btn-danger" href="{{ path('sortie_leave', {'id': sortie.id}) }}"><i class="fas fa-times"></i> Je me désiste</a>
            {% endif %}
            {% if app.user.id == sortie.getOrganisateur().id %}
                {% if sortie.getEtat().getId() == 1 %}
                    <a class="btn btn-success" href="{{ path('sortie_publish', {'id': sortie.id}) }}">Publier la sortie</a>
                {% endif %}
                <a class="btn btn-primary" href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier la sortie</a>
            {% endif %}
        {% endif %}
    </div>
    <h1>{{ sortie.nom }}</h1>
    {% if sortie.etat.id == 1 %}
        <span class="badge badge-info">{{ sortie.etat }}</span>
    {% elseif sortie.etat.id == 2 %}
        <span class="badge badge-success">{{ sortie.etat }}</span>
    {% elseif sortie.etat.id == 3 or sortie.etat.id == 4 %}
        <span class="badge badge-warning">{{ sortie.etat }}</span>
    {% elseif sortie.etat.id == 5 or sortie.etat.id == 6 %}
        <span class="badge badge-danger">{{ sortie.etat }}</span>
    {% endif %}
    <br /><br />
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <th>Organisé par</th>
                    <td><img src="data:image/png;base64, {{ sortie.getOrganisateur().image }}" class="rounded-circle" style="max-width: 2em">

                        <a href="{{ path('participant_show', {'id': sortie.getOrganisateur().id}) }}">{{ sortie.getOrganisateur() }}</a></td>
                </tr>
                <tr>
                    <th>Quand ?</th>
                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
                </tr>
                <tr>
                    <th>Durée</th>
                    <td>{{ sortie.duree }} minutes</td>
                </tr>
                <tr>
                    <th>Date limite d'inscription</th>
                    <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y H:i') : '' }}</td>
                </tr>
                <tr>
                    <th>Maximum de participants</th>
                    <td>{{ sortie.nbInscriptionsMax }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h4>Détails</h4>
            <p>{{ sortie.infosSortie }}</p>
            <h4>Participants {% if sortie.getInscrits() %} ({{ sortie.getInscrits()|length }}) {% endif %}</h4>
            {% for participant in sortie.getInscrits() %}
                <img src="data:image/png;base64, {{ participant.image }}" class="rounded-circle" style="max-width: 2em">
                <a href="{{ path('participant_show', {'id': participant.id}) }}">{{ participant }}</a>
            {% else %}
                <p>Aucun participant pour le moment !</p>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCi6mUxuH2NJzWGtVAjd8N_YXlKrsERVks&callback=initMap"
                    async defer></script>
            <script>
                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: {{sortie.getLieu().getLatitude()}}, lng: {{sortie.getLieu().getLongitude()}}},
                        zoom: 14
                    });
                }
            </script>
        </div>
        <div class="col-md-6">
            <h4>Localisation</h4>
            <p>{{sortie.getLieu()}}<br />{{ sortie.getLieu().getRue() }}<br />{{ sortie.getLieu().getVille() }}</p>
        </div>
    </div>
    <br />
{% endblock %}
